{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Use this REST API to get all the issues across an Azure Api Management service.",
        "title": "ApiManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimissues.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "apimanagement-apimissues",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/issues": {
            "get": {
                "description": "Lists a collection of issues in the specified service instance.",
                "operationId": "Issue_ListByService",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "| Field       | Supported operators    | Supported functions               |\n|-------------|------------------------|-----------------------------------|\n\r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n|apiId | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n|title | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n|description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n|authorName | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n|state | eq |    |\n",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1
                        }
                    },
                    {
                        "description": "Number of records to skip.",
                        "in": "query",
                        "name": "$skip",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists a collection of Issue entities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Paged Issue list representation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Next page link if any.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Issue values.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The Resource definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Resource type for API Management resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Issue Contract details.",
                                                "properties": {
                                                    "properties": {
                                                        "allOf": [
                                                            {
                                                                "description": "Issue contract Base Properties.",
                                                                "properties": {
                                                                    "apiId": {
                                                                        "description": "A resource identifier for the API the issue was created for.",
                                                                        "type": "string"
                                                                    },
                                                                    "createdDate": {
                                                                        "description": "Date and time when the issue was created.",
                                                                        "format": "date-time",
                                                                        "type": "string"
                                                                    },
                                                                    "state": {
                                                                        "description": "Status of the issue.",
                                                                        "enum": [
                                                                            "proposed",
                                                                            "open",
                                                                            "removed",
                                                                            "resolved",
                                                                            "closed"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "State",
                                                                            "values": [
                                                                                {
                                                                                    "description": "The issue is proposed.",
                                                                                    "value": "proposed"
                                                                                },
                                                                                {
                                                                                    "description": "The issue is opened.",
                                                                                    "value": "open"
                                                                                },
                                                                                {
                                                                                    "description": "The issue was removed.",
                                                                                    "value": "removed"
                                                                                },
                                                                                {
                                                                                    "description": "The issue is now resolved.",
                                                                                    "value": "resolved"
                                                                                },
                                                                                {
                                                                                    "description": "The issue was closed.",
                                                                                    "value": "closed"
                                                                                }
                                                                            ]
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Issue contract Properties.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "Text describing the issue.",
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "description": "The issue title.",
                                                                "type": "string"
                                                            },
                                                            "userId": {
                                                                "description": "A resource identifier for the user created the issue.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "title",
                                                            "description",
                                                            "userId"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Issue"
                ],
                "x-ms-examples": {
                    "ApiManagementListIssues": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/issues/57d2ef278aa04f0ad01d6cdc",
                                            "name": "57d2ef278aa04f0ad01d6cdc",
                                            "properties": {
                                                "apiId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a",
                                                "createdDate": "2018-02-01T22:21:20.467Z",
                                                "description": "New API issue description",
                                                "state": "open",
                                                "title": "New API issue",
                                                "userId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                                            },
                                            "type": "Microsoft.ApiManagement/service/issues"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/./apimapis.jsonIssueContract",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-s2o-warning": "Could not resolve reference #/components/schemas/./apimapis.jsonIssueContract"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/issues/{issueId}": {
            "get": {
                "description": "Gets API Management issue details",
                "operationId": "Issue_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the API Management service.",
                        "in": "path",
                        "name": "serviceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
                        }
                    },
                    {
                        "description": "Issue identifier. Must be unique in the current API Management service instance.",
                        "in": "path",
                        "name": "issueId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256,
                            "pattern": "^[^*#&+:<>?]+$"
                        }
                    },
                    {
                        "description": "Version of the API to be used with the client request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get the details of the issue.",
                        "headers": {
                            "ETag": {
                                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The Resource definition.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type for API Management resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Issue Contract details.",
                                    "properties": {
                                        "properties": {
                                            "allOf": [
                                                {
                                                    "description": "Issue contract Base Properties.",
                                                    "properties": {
                                                        "apiId": {
                                                            "description": "A resource identifier for the API the issue was created for.",
                                                            "type": "string"
                                                        },
                                                        "createdDate": {
                                                            "description": "Date and time when the issue was created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "description": "Status of the issue.",
                                                            "enum": [
                                                                "proposed",
                                                                "open",
                                                                "removed",
                                                                "resolved",
                                                                "closed"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": true,
                                                                "name": "State",
                                                                "values": [
                                                                    {
                                                                        "description": "The issue is proposed.",
                                                                        "value": "proposed"
                                                                    },
                                                                    {
                                                                        "description": "The issue is opened.",
                                                                        "value": "open"
                                                                    },
                                                                    {
                                                                        "description": "The issue was removed.",
                                                                        "value": "removed"
                                                                    },
                                                                    {
                                                                        "description": "The issue is now resolved.",
                                                                        "value": "resolved"
                                                                    },
                                                                    {
                                                                        "description": "The issue was closed.",
                                                                        "value": "closed"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "Issue contract Properties.",
                                            "properties": {
                                                "description": {
                                                    "description": "Text describing the issue.",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "description": "The issue title.",
                                                    "type": "string"
                                                },
                                                "userId": {
                                                    "description": "A resource identifier for the user created the issue.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "title",
                                                "description",
                                                "userId"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error Response.",
                                    "properties": {
                                        "error": {
                                            "description": "Error Body contract.",
                                            "properties": {
                                                "code": {
                                                    "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "description": "The list of invalid fields send in request, in case of validation error.",
                                                    "items": {
                                                        "description": "Error Field contract.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "Property level error code.",
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "description": "Human-readable representation of property-level error.",
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": "Property name.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "Human-readable representation of the error.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Issue"
                ],
                "x-ms-examples": {
                    "ApiManagementGetIssue": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "issueId": "57d2ef278aa04f0ad01d6cdc",
                            "resourceGroupName": "rg1",
                            "serviceName": "apimService1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/issues/57d2ef278aa04f0ad01d6cdc",
                                    "name": "57d2ef278aa04f0ad01d6cdc",
                                    "properties": {
                                        "apiId": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a",
                                        "createdDate": "2018-02-01T22:21:20.467Z",
                                        "description": "New API issue description",
                                        "state": "open",
                                        "title": "New API issue",
                                        "userId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                                    },
                                    "type": "Microsoft.ApiManagement/service/issues"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}